[submodule "sdk-c"]
	path = sdk-c
	url = https://github.com/softwareshield-dev/softwareshield-sdk-c.git
[submodule "sdk-csharp"]
	path = sdk-csharp
	url = https://github.com/softwareshield-dev/softwareshield-sdk-csharp.git
[submodule "sdk-python"]
	path = sdk-python
	url = https://github.com/softwareshield-dev/softwareshield-sdk-python.git
[submodule "sdk-js"]
	path = sdk-js
	url = https://github.com/softwareshield-dev/softwareshield-sdk-js.git
[submodule "sdk-delphi"]
	path = sdk-delphi
	url = https://github.com/softwareshield-dev/softwareshield-sdk-delphi.git
